.header {
  &__nav-item {
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    transition: 0.2s ease;

    &:hover {
      color: var(--color-text-primary);
    }
  }

  &__categories-btn {
    @media (max-width: 600px) {
      .MuiButton-startIcon {
        margin-right: 0;
      }

      .MuiButton-label,
      > span:not(.MuiButton-startIcon) {
        display: none;
      }

      font-size: 0;
      min-width: 40px;
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;
  }

  .lang-selector {
    margin-right: 16px;
  }
}
