* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: calc(100vh - 10px);
  position: relative;
  font-family: sans-serif;
  background-color: #bddeff;
  background-image: linear-gradient(71deg, #bddeff 0%, #e7d2fc 100%);


}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1018px;
  min-width: 778px;
  width: 100%;
}

.scroll-off {
  height: 100%;
  overflow: hidden;
}