* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: calc(100vh - 10px);
  position: relative;
  font-family: sans-serif;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1018px;
  min-width: 778px;
  width: 100%;
}

.scroll-off {
  height: 100%;
  overflow: hidden;
}